/* Lightness/Luminance Sliders */
.slider-l,
.oklab-l-slider,
.lch-l-slider,
.oklch-l-slider,
.lab-l-slider,
.hsl-l-slider {
    background: linear-gradient(to right, #000000, #ffffff);
}

.slider-l::-webkit-slider-thumb,
.oklab-l-slider::-webkit-slider-thumb,
.lch-l-slider::-webkit-slider-thumb,
.oklch-l-slider::-webkit-slider-thumb,
.lab-l-slider::-webkit-slider-thumb,
.hsl-l-slider::-webkit-slider-thumb {
    background: #aaaaaa;
}

.slider-l::-moz-range-thumb,
.oklab-l-slider::-moz-range-thumb,
.lch-l-slider::-moz-range-thumb,
.oklch-l-slider::-moz-range-thumb,
.lab-l-slider::-moz-range-thumb,
.hsl-l-slider::-moz-range-thumb {
    background: #aaaaaa;
}