---
import Layout from '../layouts/Layout.astro';
import ColorPatternGenerator from '../components/color-pattern-generator/color-pattern-generator';

---

<Layout title="Color Pattern Generator">
	<main>
		<ColorPatternGenerator client:load />
	</main>
</Layout>
