---
import Layout from '../layouts/Layout.astro';
import ColorPatternGenerator from '../components/color-pattern-generator/color-pattern-generator';
import '../styles/main.css';
---

<Layout title="Oklchroma - OKLCH Color Pattern Generator">
	<nav>
		<ul>
			<li><a href="/" class="active">Editor</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
	<main>
		<div class="container">
			<h1 class="title">OKLCHROMA</h1>
		</div>
		<ColorPatternGenerator client:load />
	</main>
</Layout>